*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}

body {
  background-color: chartreuse;
}

h1 {
  background-color: beige;
  color: greenyellow;
}

p {
  background-color: red;
  color: coral;
}
